/node_modules
**.pyc
**pythonctl_*.bat
/_ADAMSDEV2_
**aview.log*
doc/figures.pptx
analytics.py
stats.csv
stats.html
adams_vscode.vsix
test/working_directory/mylog.log
.vscode-test
test/mylog.log
test/working_directory/aview.log
test/working_directory/aview.cmd
test/working_directory/aviewAS.cmd
test/working_directory/aviewBS.cmd
