.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
.mypy_cache/**
_ADAMSDEV2_/**
test/**
**aview.log
doc/figures.pptx
analytics.py
stats.csv
adams_vscode.vsix
**/__pycache__
stats.csv
stats.html
